* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #A4133C, #FF4D6D);
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    position: relative;
}

header {
    height: 52px;
    position: fixed;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #A4133C, #FF4D6D);
    color: #FFCCD5;
    z-index: 1;
}

.person-title {
    display: inline-block;
}

.person-title h1 {
    font-size: 64px;
    font-weight: bolder;
    margin-top: 64px;
}

.person-title h2 {
    margin: 16px 0;
    font-size: 27px;
    font-style: italic;
    font-weight: bolder;
}

.avatar {
    position: absolute;
    width: 260px; 
    right: 80px;
    top: 90px;
    border-radius: 50%;
    border: #FFB3C1 3px solid;
    animation: topdown 900ms;
    filter: brightness(0.9);
}

.avatar:hover {
    transform: scale(1.1);
    filter: brightness(1) saturate(1.1);
}


.contact img {
    width: 40px;
    margin: 18px 6px;
    transition: 0.7s transform;
}

.contact img:hover {
    transform: scale(1.3);
}

.contact {
    position: relative;
    margin-top: 5px;
}

nav {
    text-align: center;
    position: relative;
}

nav li {
    display: inline-block;
    margin: 16px 10px;
}

nav li:not(:last-child):after {
    content: "•";
    margin-left: 24px;
}

nav li a {
    text-decoration: none;
    color: #FFCCD5;
    transition: 0.3s color;
}

nav li a:hover{
    color: #FF758F;
}

main {
    background: #fafafa;
    padding: 48px 0;
    color: #C9184A;
}

main div {
    width: 1020px;
    margin: 0 auto;    
}

.titulo {
    font-weight: bold;
    margin-bottom: 18px;
    margin-top: 18px;
}

.information-box {
    background-color: #f7ebed;
    box-shadow: 1px 1px 16px #FF4D6D;
    color: #A4133C;
    padding: 18px;
    display: inline-block;
    border-radius: 8px;
    width: 460px;
    box-sizing: border-box;
    vertical-align: top;
    height: 200px;
    animation: downtop 700ms 350ms reverse backwards;
}

.information-box:hover {
    transform: scale(1.1);
    transition: all 200ms;
    box-shadow: 1px 1px 16px #c9184a;
}

.margin-box {
    margin: 20px;
}

.linha {
    line-height: 2;
}

.negrito {
    font-weight: bold;
}

.italico {
    font-style: italic ;
}

.icones-interesses {
    width: 70px;
    margin: 5px;
}

section {
    width: 1020px;
    height: 400px;
    margin: 0 auto;
    padding-top: 48px;
    position: relative;
    color: #FFB3C1;
}



footer {
    height: 180px;
    padding-top: 32px;
    text-align: center;
}

footer, a {
    color: #ff758f;
}

.footer-informacoes {
    width: 1020px;
    margin: 0 auto 25px;
}

.fale-comigo {
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
}

@keyframes topdown {
    0% {
        opacity: 0;
        transform: translateY(-15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop {
    100% {
        opacity: 0;
        transform: translateY(15px);
    }
}